.card {
  transition-duration: .5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .card-header {
    margin-bottom: 10px;

    a {
      font-weight: bold;
    }

    .card-detail {
      padding-top: 10px;
    }
  }

  .panel-footer {
    a {
      font-weight: bold;
    }
  }

}
