body {
  margin-top: 125px;
}

.nav {
  li {
    a {
      line-height: 40px;
    }
  }
}

.navbar-fixed-top .nav {
  padding: 4px;
}

@media (max-width: 767px) {

  .navbar-toggle {
    margin: 22px;
  }
}